<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="GallerySource" value="Q:\shared_root\jake\bulk\regal\bins\cast\subjects"/>
  </appSettings>
  <connectionStrings>
    <add name="galleryDb" connectionString="Data Source=CASTOR;Initial Catalog=gallery;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
</configuration>
