@model Gallery.Entities.Subjects.SqlBackedSubject

@{
    ISubject subject = ViewBag.Subject;
    ViewBag.Title = subject.DisplayName;
}

<h2>@subject.DisplayName</h2>
<h3>@subject.ImageCount Images</h3>
