
@{
    ViewBag.Title = "All Subjects";
}

<h2>Subjects</h2>

<ul>
  @foreach (ISubject subject in ViewBag.Subjects) { 
    <li>@Html.ActionLink(subject.DisplayName, "Details", new { name = subject.Name })</li>
  }
</ul>

