
@{
    ViewBag.Title = "Utils";
}

<h2>Utilities</h2>

<h3>Election from Directory</h3>

@using (Html.BeginForm("DirToElection", "Migration", FormMethod.Post, new { @class="well form-inline" }))
{
  <fieldset>
    Directory Path: <input type="text" name="dirPath"/>
    Election Name:<input type="text" name="electionName" /> 
    Election Date:<input type="text" name="eventDate" />
    <input type="submit" id="migrateElectionFromDir" value="Migrate"/>
  </fieldset>  
}
