<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="subjectRoot"  value="H:\shared_root\jake\bulk\regal\bins\cast\subjects"/>
    <add key="yearbookRoot"  value="H:\shared_root\jake\bulk\regal\bins\cast\yearbook"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>