<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="electionsRoot" value="J:\shared_root\jake\bulk\regal\bins\cast\elections"/>  
    <add key="yearbookLocation" value="J:\shared_root\jake\bulk\regal\bins\cast\yearbook"/>  
  </appSettings>

  <connectionStrings>
    <add name="galleryDb" connectionString="Data Source=.;Initial Catalog=gallery;Integrated Security=True;Pooling=False"/>
  </connectionStrings>

</configuration>
