@{
  Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>PlayerGrid Specs</title>
  <link rel="shortcut icon" type="image/png" href="/jasmine_favicon.png">
  @Styles.Render("~/Content/jasmine.css")
  @Scripts.Render("~/Scripts/Jasmine/jasmine.js")
  @Scripts.Render("~/Scripts/Jasmine/jasmine-html.js")
  @Scripts.Render("~/Scripts/Jasmine/boot.js")

  <!-- Source files -->

  <!-- Spec files -->
</head>
<body>
</body>
</html>
