<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAI7CZRYWYXBQRCBMQ"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
