<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="galleryDb" connectionString="Data Source=.;Initial Catalog=gallery;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
  <appSettings>
    <add key="yearbookLocation" value="F:\shared_root\jake\bulk\regal\bins\cast\yearbook"/>
  </appSettings>

</configuration>
